/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Estilos específicos para la sección de proyectos */
  #proyectos a {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .proyectos-container {
    display: flex;
    overflow-x: scroll;
  }
  
  .proyecto {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .proyecto h3,
  .proyecto p {
    margin: 10px 0;
  }
  
  .proyecto a {
    text-decoration: none;
    color: #333;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .prev-btn,
  .next-btn {
    background-color: #ccc;
    border: none;
    color: #333;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .prev-btn:hover,
  .next-btn:hover {
    background-color: #999;
  }
  .proyecto {
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .video-container {
    width: 100%;
    height: auto;
  }
  